<div class="chat-side-top">
  <div class ="chat-side-name">
    <a href="#">Tom</a>
  </div>
  <div class ="chat-side-button">
    <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>

<div class="chat-side-bottom">
  <% current_user.rooms.each do |room| %>
    <div class="chat-room">
      <div class="room-name">
        <%= link_to room.name, room_messages_path(room) %>
      </div>
    </div>
  <% end %>
</div>